<div [ngClass]="alerta" class="alert" role="alert">
  A simple primary alert—check it out!
</div>

<button type="button" class="btn btn-success mr-2" (click)="alerta = 'alert-success'">Success</button>
<button type="button" class="btn btn-warning" (click)="alerta = 'alert-warning'">Warning</button>
<br><br>

<h3 [ngClass]="{ 'text-danger': propiedades.danger, 'text-info': !propiedades.danger}">Hola mundo</h3>
<button type="button" class="btn mt-1" (click)="propiedades.danger = !propiedades.danger"
  [ngClass]="{'btn-danger': propiedades.danger, 'btn-info': !propiedades.danger}">Cambiar color
  texto</button>
<br><br>

<button type="button" class="btn btn-primary" (click)="ejecutar()" [disabled]="loading">
  {{loading ? 'Procesando' : 'Guardar'}}
  <i class="fa" [ngClass]="{'fa-save': !loading, 'fa-refresh fa-spin': loading}"></i>
</button>
